h1.titulo{
    color: blue;
    text-align: center;
}
body.fondo{
    background: rgb(252, 177, 164);
}
p.resaltado{
    background-color: yellow;
    text-align: center;
}

span.nombre{
    color: red;
}